 .box {
     padding: 10px;
     border: 1px solid black;
     background-color: bisque;
 }
 .semi-box{
    padding: 10px;
    border: 1px solid black;
    background-color: grey;
 }

 #grid1 {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-auto-rows: 150px;
     margin-bottom: 100px;
 }
 #title{
    grid-column: 1/5;
 }
 #paragraph{
    grid-column: 1/5;
    grid-row:2/3;
 }
 #button1 {
     grid-column: 1/3;
 }
 #button2 {
    grid-column: 3/5;
}

 #grid2 {
     display: grid;
     grid-template-columns: 1fx;
     /* gap: 10px */
 }
 .semi-box {
     padding: 10px;
     border: 1px solid black;
     background-color: grey;
 }
 #semi-para{
    height: 60px;
 }

 #grid3{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 100px;
    grid-auto-rows: 100px;
 }

#grid4 {
     display: grid;
     grid-template-columns: repeat(2,1fr);
     margin-bottom: 100px;
     grid-auto-rows: 150px;
 }
 #points1{
    grid-column: 2/3;
    grid-row: 1/3;
 }


 #points2 {
     grid-column: 1/2;
     grid-row: 1/3;
 }

  #grid6 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 50px;
  }

  #logo {
      grid-row: 1/4;
  }

  #copyright {
      grid-column: 1/3;
  }
